@model IEnumerable<MyBlog.Domain.Models.Post>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Post</h2>

@foreach (var item in Model)
{
    <div>
        <h4>@item.Title</h4>
        <p>@item.Content</p>
    </div>
}

